/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 *
 */

/*
 *
 * fonts and type
 *
 */

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);*/

html {
 font-family: 'Open Sans', 'Arial', sans-serif;
 font-size: 18px;
 line-height: 1.6em;
}

body {
	margin: 0;
	padding: 0;
}

p {
    clear:both;
}

.very-small {
    font-size: 50%;
}

.small {
    font-size: 75%;
}

.large {
    font-size: 125%;
}

.very-large {
    font-size: 150%;
}

/*
 *
 * Classes for changing location of things
 *
 */

.left {
    float: left;
}

.right {
    float: right;
}

.center-content {
    text-align: center;
}

/*
 *
 * Form elements like input fields and buttons
 *
 */

input[type="text"] {
    font-family: 'Open Sans', 'Arial', sans-sefif;
    font-size: 14px;
}

button {
    padding: 0.8em;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    color: #555;
    font-weight: bold;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    border:1px solid #ccc;
}

/*
 *
 * Container holding jsPsych content
 *
 */


.jspsych-display-element {
    width: 800px;
    margin: 50px auto 50px auto;
}

/*
 *
 * jsPsych progress bar
 *
 */

#jspsych-progressbar-container {
	color: #777;
	border-bottom: 2px solid #dedede;
	background-color: #f3f3f3;
	margin-bottom: 1em;
	text-align: center;
	padding: 10px 0px;
}

#jspsych-progressbar-container s {

}

#jspsych-progressbar-outer {
	background-color: #dedede;
	border-radius: 5px;
	padding: 1px;
	width: 800px;
	margin: auto;
}

#jspsych-progressbar-inner {
	background-color: #aaa; /* #3EB3D7; */
	width: 0%;
	height: 1em;
	border-radius: 5px;
}

/*
 *
 * PLUGIN: jspsych-animation
 *
 */

#jspsych-animation-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-categorize-animation
 *
 */

#jspsych-categorize-animation-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-categorize
 *
 */

#jspsych-categorize-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feedback {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-free-sort
 *
 */

#jspsych-free-sort-arena {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #444;
}

.jspsych-free-sort-draggable {
  cursor: move;
}

#jspsych-free-sort-done-btn {
  display: block;
  margin: auto;
  margin-top: 25px;
}

/*
 *
 * PLUGIN: jspsych-instructions
 *
 */

 .jspsych-instructions-nav {
   text-align: center;
   margin-top: 2em;
 }

 .jspsych-instructions-nav button {
   margin: 20px;
 }
/*
 *
 * PLUGIN: jspsych-multi-stim-multi-response
 *
 */

#jspsych-multi-stim-multi-response-stimulus {
  display: block;
  margin: auto;
}

/*
 *
 * PLUGIN: jspsych-palmer
 *
 */

#jspsych-palmer-snapCanvas {
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-same-different
 *
 */

.jspsych-same-different-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-single-stim
 *
 */

#jspsych-single-stim-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-survey-text
 *
 */

 .jspsych-survey-text {
     margin: 0.25em 0em;
 }

 .jspsych-survey-text-question {
     margin: 2em 0em;
 }

 /*
  *
  * PLUGIN: jspsych-survey-likert
  *
  */

.jspsych-survey-likert-sliderlabels {
  font-size: 75%;
  line-height: 1.15em;
}

.jspsych-survey-likert-question {
  margin-top: 2em;
  margin-bottom: 2em;
}

.jspsych-survey-likert-text {
  text-align: center;
}

#jspsych-survey-likert-next {
  display: block;
  margin: auto;
}

/*
*
* PLUGIN: jspsych-visual-search-circle
*
*/

#jspsych-visual-search-circle-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-vsl-animate-occlusion
 *
 */

#jspsych-vsl-animate-occlusion-canvas {
  display: block;
  margin: auto;
}

/*
 *
 * PLUGIN: jspsych-xab
 *
 */

 .jspsych-xab-stimulus {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
